
.btn_click{
    width:170px;
    height:40px;
    border-radius: 10px;
    border:1px solid #FFB731;
    background-color:white;
    cursor: pointer;
    font-family: "fc_lamoonregular";
    font-size: 19px;

}

.btn_click_detail{
    width:150px;
    height:40px;
    border-radius: 10px;
    border:1px solid #00A0FF;
    background-color:white;
    cursor: pointer;
    font-family: "fc_lamoonregular";
    font-size: 19px;

}

.btn_click:hover{
    background-color: #FFB731;
    color: #ffffff;
    font-family: "fc_lamoonregular";
    font-size: 19px;


  }

.btn_click_detail:hover{
    background-color: #00A0FF;
    color: #ffffff;
    font-family: "fc_lamoonregular";
    font-size: 19px;


  }

.h_chart{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    font-family: "fc_lamoonregular";

  }

.btn_center{
    padding: 40px;
    margin-left: 42%;
    /* background-color: transparent; */
    font-family: "fc_lamoonregular";
    font-size: 14px;

}



.img-edit{
    width: 15px;
    height: 15px;
    cursor: pointer;
    
}

.img-bin{
    width: 16px;
    height: 16px;
    cursor: pointer;
    
}



.btn-card{
    border: none;
    background-color: transparent;
    z-index: 1;
    text-decoration: none;
    cursor: pointer;
    opacity:0.7;
    font-family: "fc_lamoonregular";

    
}

.img-table{
    display: table;
    width: 17px;
    height: 17px;
    text-align: center;
    z-index: 1;
    float: right;
    border: none;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 100px;
}

.img-table2{
    display: table;
    width: 17px;
    height: 17px;
    text-align: center;
    z-index: 1;
    float: right;
    border: none;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 10px;
}


.bg_rightplane{
    width: 95% ;
    padding: 20px;
    background-color:#CCCCCC ;
    border-radius: 10px;
    border-width: 0.5px;

}

.Card_datafaemer{
    width: 500px;
    height: 200px;
    color: #ffffff;
    background-color: #24252A ;
    border-radius: 15px;
    border-width: 0.5px;
    margin-top: 15px;
    margin-left: 120px;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px;


}

.overflow_right1 {
    overflow: auto;
    height: 80vh;
}

.img-card2{
    display: table;
    width: 17px;
    height: 17px;
    text-align: center;
    z-index: 1;
    float: right;
}

.btn-card2{
    border: none;
    background-color: transparent;
    z-index: 1;
    text-decoration: none;
    cursor: pointer;
    opacity:0.5;
    margin-top: 90px;
}

.bg_planephase{
    width: 790px;
    height: 260px;
    padding: 20px;
    background-color: #ffffff ;
    box-shadow: 1px 1px 2px 1px #CCCCCC;
    border-radius: 10px;
    border-width: 1px;
    /* margin-top: -150px; */
    margin-left: 50px;
}

.bg_table{
    overflow: auto;
    overflow-x: hidden;
    height: 80vh;
    background-color: transparent;
    
}



.bg_rarph{
    width: 500px;
    height: 300px;
    background-color: #ffffff ;
    box-shadow: 0px 1px 2px 1px #CCCCCC;
    border-radius: 10px;
    border-width: 1px;
}

.bg_want{
    width: 500px;
    height: 300px;
    background-color: #f2f2f2 ;
    box-shadow: 1px 1px 2px 1px #CCCCCC;
    border-radius: 10px;
    border-width: 1px;
}