
.row{
    width: 100%;
    display: flex;  
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

.card{
    /* border: 1px solid #cccccc; */
    border-radius: 3px;
    background-color: #24252A;
    margin-bottom: 7px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    min-width: 500px;
    white-space: nowrap;
    height: 50px;
    color: #FBFBFB;
}

.head-card{
    color: #FBFBFB;
    font-weight: bold;
    margin-top: 2px;
}

.btn-card{
    border: none;
    background-color: transparent;
    z-index: 1;
    text-decoration: none;
    cursor: pointer;
    opacity:0.5;
    margin-top: 8px;
}

.btn-card:hover{
    opacity:1;
}

.img-card{
    display: table;
    width: 12px;
    height: 12px;
    text-align: center;
    z-index: 1;
}

.img-add-card{
    padding-top: 7px;
    padding-left: 1px;
    width: 15px;
}

.input-day-card{
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 50px;
}

.input-name-card{
    width: 95%;
    padding: 8px 10px;
}


.number-card{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background-color: rgba(0, 136, 169, 1); */
    background-color: #FFB731;
    color: #FBFBFB;
    text-align: center;
    padding-top: 3px;
    margin: 0px 7px 0px 0;
}

.add-card{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    /* padding-top: 3px; */
    margin: 0px 7px 0px 0;
    background-color: #FFB731;
    /* background-color: rgba(0, 136, 169, 1); */
}

.btn-save,.btn-cancel{
    font-size: 16px;
    width: 90%;
    margin-bottom: 5px;
    margin-top: 2px;
    padding: 7px 8px;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.btn-save{
    /* background-color: rgba(0, 136, 169, 1); */
    background-color: #FFB731;
}

.btn-cancel{
    background-color: rgba(200, 0, 0, 1);
}

.btn-save:hover{
    /* background-color: rgba(0, 136, 169, 0.8); */
    background-color: #FFB731e7;
}

.btn-cancel:hover{
    background-color: rgba(200, 0, 0, 0.8);
}

.crad-edit{
    border-radius: 3px;
    background-color: #24252A;
    margin-bottom: 7px;
    padding: 10px;
    /* cursor: pointer; */
    position: relative;
    min-width: 500px;
    white-space: nowrap;
    height: 100px;
    color: #FBFBFB;
    width: 80%;
}

.btn-save:disabled,
.btn-save[disabled]{
  color: #666666;
  background-color: #cccccc;
  cursor: not-allowed;
}

