.body{
    margin-top: 90px;
    
}
.row{
  width: 100%;
  color: #24252A;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.img-home{
    width: 50%;
    float: right;
    bottom: 12%;
    right: 10%;
    position:absolute;
    display:block;
}

.btn-home{
    padding: 9px 25px;
    /* background-color: rgba(0, 136, 169, 1); */
    background-color: #FFB731;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #edf0f1;
}

.btn-home:hover{
    background-color: #ffb731e7;
    /* background-color: rgba(0, 136, 169, 0.8); */
}

