/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #edf0f1;
    color: #24252A;
  } */

.header{
    font-family: "Montserrat",sans-serif;
    box-sizing: border-box;
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    position: fixed;
    z-index: 1;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    top: 0;
    background-color: #fff;
}

.nav__links {
    list-style: none;
}

.nav__li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__li__a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.nav__li__a:hover {
    color: #0088a9;
}

.nav__li__a.Active{
    border-bottom: 2px solid #0088a9;
    text-decoration: none;
}

