.btn-plant{
    padding: 9px 25px;
    /* background-color: rgba(0, 136, 169, 1); */
    background-color: #FFB731;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #edf0f1;
    margin-top: -4px;
    margin-right: 15px;
    float: right;
}

.btn-plant:hover{
    /* background-color: rgba(0, 136, 169, 0.8); */
    background-color: #FFB731e7;
}

.dashboard-plant{
    width: 70%;
    margin: 0px auto;
    
}
.deshboard-body-plant{
    padding: 20px 0 10px 15px;
    margin-bottom: 10px;
    background-color: #edf0f185;
    
}

.deshboard-body-plant:hover{
    background-color: #edf0f1;
}

.dashboard-head-plant{
    padding: 0px 8px 15px 0px;
    color: #9b9b9b;
    
}


.body{
    margin-top: 50px;
  }