
.row{
    width: 100%;
    display: flex;  
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

.Card_faemer{
    width: 500px;
    height: 250px;
    background-color: #24252A  ;
    border-radius: 10px;
    border-width: 0.5px;
    box-shadow: 2px 2px 7px grey;
}

.Card_faemer2{
    width: 500px;
    height: 100px;
    background-color: rgb(255, 196, 34) ;
    border-radius: 10px;
    border-width: 0.5px;
    margin-top: 10px;
    margin-left: 45px;
    align-items: center;
    margin-bottom: 10px;


}

.Card_faemer3{
    width: 250px;
    height: 40px;
    background-color: #24252A ;
    border-radius: 5px;
    border-width: 0.5px;
    box-shadow: 2px 2px 7px grey;
    margin-left: 30px;
    margin-top: 20px;
    text-align: center;
    padding-top: 1%;

}

.img-persor{
    width: 100%;
    margin-top: 50%;
}

.add-card{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    /* padding-top: 3px; */
    margin: 0px 7px 0px 0;
    background-color: #FFB731;
    /* background-color: rgba(0, 136, 169, 1); */
}

.input_phate{
    width: 1000 ;
    height: 150;
    background-color:#24252A;
    border-radius: 10px;
    border-width: 0.5px;
    box-shadow: 2px 2px 7px grey;
    margin-top:50;
}

.input-day-card{
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 10px;
}

.input-name-card{
    width: 95%;
    padding: 8px 10px;
}

.head-card{
    color: #FBFBFB;
    font-weight: bold;
    margin-top: 2px;
}
.wall{
    width: 100%;
    background-color:#CCCCCC    ;
    border-radius: 3px;
    border-width: 0.5px;
    padding: 3%;
}

.wall2{
    width: 900 ;
    height: 1000;
    background-color:#f2f2f2; 
    box-shadow: 2px 2px 3px grey;
}
.wall3{
    width: 78%;
    background-color: rgb(255, 196, 34);
    margin-top: 5%;
    border-radius: 10px;
    border-width: 0.5px;
    
}

.Card_input_phase{
    width: 500px;
    height: 200px;
    background-color: #24252A;
    border-radius: 10;
    margin-top:20;
    box-shadow: 2px 2px 3px grey;
}

.Card_box{
    width: 78%;
    background-color:#FFB731;
    border-radius: 3px;
}

.BigCard{
    background-color: #24252A;
    border-radius: 10;
    padding:20px ;
    border-radius: 10px;
    border-width: 0.5px;
    margin-bottom: 3%;
}

.Cart_indexPhase{
    font-size: 24;
    text-align: "left";
    font-size: 24;
    color: #ffffff;
    margin-bottom:50px;
    align-items: center;
    padding: 2%;
    
}


.btn-save{
    margin-top: "15%";
    background-color: "#ff9800";
}

.btn-cancell{
    background-color: #666666;
}


.img-card{
    display: table;
    width: 17px;
    height: 17px;
    text-align: center;
    z-index: 1;
    float: right;
    margin-bottom: 50px;
}

.btn-card{
    border: none;
    background-color: transparent;
    z-index: 1;
    text-decoration: none;
    cursor: pointer;
    opacity:0.7;
    margin-top: 8px;
    
}

.overflow_right {
    overflow: auto;
    height: 67vh;
}

.overflow_life {
    overflow-y: auto;
    overflow-x: hidden;
    height: 60vh;
}

.bg_overflow{
    width: 500px;
    background-color: transparent;
    border-radius: 5px;
    border-width: 0.5px;
}

.btn_click{
    width:90px;
    height:30px;
    border-radius: 10px;
    border:1px solid #FFB731;
    background-color:white;
    cursor: pointer;
    font-family: "fc_lamoonregular";
    font-size: 19px;

}


.btn_click:hover{
    background-color: #FFB731;
    color: #ffffff;
    font-family: "fc_lamoonregular";
    font-size: 19px;
  }

  

  .Card_select{
    width: 460px;
    height: 150px;
    background-color: #FFB731 ;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    border-width: 0.5px; 
    padding: 20px;
 }

 .bg_list_phase{
    background-color: #24252A ;
    border-radius: 8px ;
    padding: 18px;
    margin-bottom: 15px;
 }

 .check_data{
    width:90px;
    height:30px;
    border-radius: 10px;
    border:1px solid #FFB731;
    background-color:white;
    cursor: pointer;
    font-family: "fc_lamoonregular";
    font-size: 16px;
 }

 .bg_date{
    width: 460px;
    height: 150px;
    background-color: #FFB731;
    border-radius: 10px;
    border-width: 0.5px;
    box-shadow: 2px 2px 7px grey;
    margin-top: 20px;
    padding: 20px;
 }

 .btn-savephase{
    width:90px;
    height:30px;
    border-radius: 10px;
    border:1px solid #FFB731;
    background-color:white;
    cursor: pointer;
    font-family: "fc_lamoonregular";
    font-size: 16px;
 }

 .btn-savephase:hover{
    background-color: #FFB731;
    color: #ffffff;
    font-family: "fc_lamoonregular";
    font-size: 19px;
  }
